{% extends 'base.html' %}
    {% load static%}
    {% block conatct %}active{% endblock %}
{% block content %}

<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="{% url 'home' %}">{{contacts.title1}}</a></li>
          <li>{{contacts.title2}}</li>
        </ol>
        <h2>{{contacts.title3}} </h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">

        <div class="container" data-aos="fade-up">
  
          <header class="section-header">
            <p>{{contacts.text_contact}}</p>
          </header>
  
          <div class="row gy-4">
  
            <div class="col-lg-6">
              <div class="row gy-4">
                {% for card in cards%}
                <div class="col-md-6">
                  <div class="info-box">
                    <i class="{{card.icon}}"></i>
                    <h3>{{card.title}}</h3>
                    <p>{{card.text1}},<br>{{card.text2}}</p>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
  
            <div class="col-lg-6">
              <form action="" method="post" class="php-email-form">
                <div class="row gy-4">
  
                  <div class="col-md-6">
                    <input type="text" name="name" class="form-control" placeholder="Nom" required>
                  </div>
  
                  <div class="col-md-6 ">
                    <input type="email" class="form-control" name="email" placeholder="Email" required>
                  </div>
  
                  <div class="col-md-12">
                    <input type="text" class="form-control" name="subject" placeholder="Sujet" required>
                  </div>
  
                  <div class="col-md-12">
                    <textarea class="form-control" name="message" rows="6" placeholder="Message" required></textarea>
                  </div>
  
                  <div class="col-md-12 text-center">
                    <div class="loading">Chargement</div>
                    <div class="error-message"></div>
                    <div class="sent-message">Votre message a été envoyé. Merci!</div>
  
                    <button type="submit">Envoyer</button>
                  </div>
  
                </div>
              </form>
  
            </div>
  
          </div>
          
  
        </div>

        
  
      </section><!-- End Contact Section -->

      <div>
        <iframe style="border:0; width: 100%; height: 270px;" src="{{contacts.map_localisation}}" frameborder="0" allowfullscreen></iframe>
      </div>
  </main><!-- End #main -->
    
{% endblock content%}